name: Docker Image CI

on:
  push:
    branches: [ "main" ]
env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true
jobs:
  build-api:
    name: build-api
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: rasmus256docker/optimalpowertimecalculator
        tags: |
          type=raw,value={{date 'YYYYMMDD-HHmmss'}}
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Docker Login
    # You may pin to the exact commit or the version.
    # uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
      uses: docker/login-action@v3.6.0
      with:
        # Username used to log against the Docker registry
        username: rasmus256docker
        # Password or personal access token used to log against the Docker registry
        password: ${{ secrets.DOCKERHUB_PASSWORD }}


    - uses: docker/build-push-action@v6
      with:
        file: src/api/Dockerfile
        context: src
        push: false
        platforms: linux/amd64,linux/arm64
        tags: ${{ steps.meta.outputs.tags }}
    - uses: kitabisa/docker-slim-action@v1.2.0
      env:
        DSLIM_HTTP_PROBE: false
      with:
        target: rasmus256docker/optimalpowertimecalculator:latest
        tag: "slim"

    # Push to the registry
    - run: docker image push "rasmus256docker/optimalpowertimecalculator" --all-tags
